@import '__';

.menu {
    position: relative;
    z-index: @_z__menu;

    .toggle-link {
        .fixed();

        &::before {
            display: inline-block;
            vertical-align: top;
            ._icon > .use(@_i__menu, 10px);
        }

        @media @_l__desktop__media {
            top: 45px;
            left: @_l__desktop__content-offset-x;
        }

        @media @_l__phone__media {
            top: 35px;
            left: 25px;
        }
    }
    
    .menu-content {
        display: none;
    }

    .social-block {

        .like {
            font-size: 0;

            &::before {
                ._icon > .use(@_i__like, 14.1px);
            }
        }

        .social-links {

            li {
                font-size: 0;

                &.googleplus::before {
                    ._icon > .use(@_i__social-googleplus, 16.5px);
                }

                &.facebook::before {
                    ._icon > .use(@_i__social-facebook, 16px);
                }

                &.pinterest::before {
                    ._icon > .use(@_i__social-pinterest, 19px);
                }

                &.linkedin::before {
                    ._icon > .use(@_i__social-linkedin, 18.2px);
                }
            }
        }
    }
}
