@import '__';
@import '../gallery/__';

.filter-gallery-wrapper {

    @media @_l__desktop__media {
        @offset-x: 10px; // @todo use gallery constant

        .gallery {
            margin-top: 22px;
            margin-left: -@offset-x;
            margin-right: -@offset-x;
        }
    }

    @media @_l__phone__media {
        @filter-offset-x: @_l__phone__content-offset-x-visual - @gallery__mobile__block-offset;

        .filter {
            margin-left: -@filter-offset-x;
            margin-right: -@filter-offset-x;
        }
    }
}
