<div class="bounce-gallery">
    <ul class="list">

        <li class="item" style="
            font-weight: bold;
            color: rgba(0, 0, 0, 0.8);
            background-color: #67ffd5;
            background-image: -webkit-linear-gradient(342deg, #67ffd5, #9f69ff);
            background-image: -o-linear-gradient(342deg, #67ffd5, #9f69ff);
            background-image: linear-gradient(108deg, #67ffd5, #9f69ff);
        ">
            <a href="#"><span class="caption">Reinventing Home Kitchen. Design Contest 2016</span></a>
        </li>

        <li class="item" style="
            font-weight: normal;
            color: #fff;
            background-color: #e2001c;
        ">
            <a href="#"><span class="caption">Archiparti presents at RISE conference!</span></a>
        </li>

        <li class="item video" style="
            background-color: darkslategray;
            color: #fff;
        ">
            <a href="#"><span class="caption">Thanks TBWA\ Hong Kong!</span></a>
        </li>

    </ul>
</div>
