<div class="contacts-block">
    {% include headline.html text="We are a *Hong Kong* based tech startup with international vision." %}
    <div class="contacts">
        <div class="contacts-item">
            <strong class="block-title">Want to collaborate? Feel free to contact us!</strong>
            <a class="phone" href="tel:+85254998578">+ 852 5499 8578</a>
            <a class="email" href="mailto:hello@archiparti.com">hello@archiparti.com</a>
            <span class="worktime">Mon-Fri, 10:00am — 06:00pm</span>
        </div>
        <address class="contacts-item address">
            17/F Cornwall House, Taikoo Place, 979 King’s Road, Quarry Bay, Hong Kong
        </address>
    </div>
    <footer class="partners">
        <em>Supported by:</em>
        <ul>
            <li><img src="{{ site.baseurl }}/uploads/logo-01.png" alt=""></li>
            <li><img src="{{ site.baseurl }}/uploads/logo-02.png" alt=""></li>
        </ul>
    </footer>
</div>
