<div class="gallery">

    <ul class="list">

        <li class="item simple has-image">
            <span class="background" style="
                background-image: url({{ site.baseurl }}/uploads/cd40f5ead4efba9a563b3155364c748d.jpg);
                background-color: #bd8a5b;
            "></span>
            <a href="#">
                <span class="caption">Some News title, around two lines</span>
            </a>
        </li>

        <li class="item complex double">
            <span class="background" style="
                background-image: -webkit-linear-gradient(151deg, #d3bcff, #9ec6ff 78%, #8fc9ff);
                background-image: -o-linear-gradient(151deg, #d3bcff, #9ec6ff 78%, #8fc9ff);
                background-image: linear-gradient(299deg, #d3bcff, #9ec6ff 78%, #8fc9ff);
                background-color: #9ec6ff;
            "></span>
            <a href="#">
                <span class="caption">Reinventing Home Kitchen. Design Contest 2016</span>
                <span class="link-action">Join competition</span>
            </a>
        </li>

        <li class="item simple has-image">
            <span class="background" style="
                background-image: url({{ site.baseurl }}/uploads/10364179_288136911351787_4312775887263741379_n.jpg);
                background-color: #31465b;
            "></span>
            <a href="#">
                <span class="caption">Archiparti presents at RISE conference!</span>
            </a>
        </li>

        <li class="item simple has-image">
            <span class="background" style="
                background-image: url({{ site.baseurl }}/uploads/photo-1465441494912-68f5747c3fe0.jpeg);
                background-color: #baa98f;
            "></span>
            <a href="#">
                <span class="caption">Background video or picture, just color</span>
            </a>
        </li>

        <li class="item complex">
            <span class="background" style="
                background-color: #d0021b;
            "></span>
            <a href="#" style="
                color: #ffffff;
            ">
                <span class="caption">Call to action for the collaborations</span>
                <span class="link-action">Contact us</span>
            </a>
        </li>

        <li class="item event double">
            <span class="background" style="
                background-color: #ffffff;
            "></span>
            <a href="#">
                <time class="date">
                    <strong>26</strong>
                    <span>Jul, Fri</span>
                </time>
                <span class="caption">Archipartis banner title to attract</span>
                <span class="link-action">Details</span>
            </a>
        </li>

    </ul>

</div>
