{% assign items = site.gallery_items | where:"set",include.set | sort:"order" %}
<div class="gallery {% if include.loose %}loose{% endif %} {% if include.mobile_column %}mobile-column{% endif %}">

    <ul class="list">
    {% for item in items %}
        {% capture devnull %}
            {% if item.post %}
                {% assign path = "_posts/" | append:item.post %}
                {% assign post = site.posts | where:"path",path | first %}
                {% if post %}
                    {% assign post_link = site.baseurl | append:post.url %}
                {% endif %}
            {% endif %}
            {% assign caption = item.caption | default:post.title %}
            {% assign link = item.link | default:post_link %}
        {% endcapture %}{% assign devnull = nil %}

        <li class="item {{ item.type }} {{ item.size }} {% if item.image %}has-image{% endif %}">
            <span class="background" style="
                {% if item.image %}background-image: url({{ site.baseurl }}/uploads/{{ item.image }});{% endif %}
                {% if item.gradient %}{% include helpers/gradient.html value=item.gradient %}{% endif %}
                {% if item.bgcolor %}background-color: {{ item.bgcolor }};{% endif %}
            "></span>
            <a href="{{ link }}" {% if item.new_tab %}target="_blank"{% endif %}
               {% if item.text_color %}style="color: {{ item.text_color }}"{% endif %}>
            {% if item.type == 'event' && item.date %}
                <time class="date">
                    <strong>{{ item.date | date:"%d" }}</strong>
                    <span>{{ item.date | date:"%b, %a" }}</span>
                </time>
            {% endif %}
                <span class="caption">{{ caption }}</span>
            {% if item.reference %}
                <span class="link-action {{ item.reference_icon }}">{{ item.reference }}</span>
            {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

</div>
