<div class="intended-block">

    <article class="section owner first" id="owner">

        <div class="section-content">
            <h2 class="section-title">
                <small>features for</small>
                <strong>Project Owner</strong>
            </h2>

            <section class="subsection">
                <h3 class="subsection-title">Efficient workflow</h3>
            </section>

            <section class="subsection">
                <h3 class="subsection-title">Bespoke Designers</h3>
            </section>

            <section class="subsection">
                <h3 class="subsection-title">Affordable</h3>
            </section>
        </div>

        <a href="#owner" class="expand-link">
            <small>I am</small>
            <strong>Project Owner</strong>
        </a>

    </article>

    <article class="section designer last" id="designer">

        <div class="section-content">
            <h2 class="section-title">
                <small>features for</small>
                <strong>Designer</strong>
            </h2>

            <section class="subsection">
                <h3 class="subsection-title">Management tools</h3>
            </section>

            <section class="subsection">
                <h3 class="subsection-title">Support</h3>
            </section>

            <section class="subsection">
                <h3 class="subsection-title">Marketplace</h3>
            </section>
        </div>

        <a href="#" class="expand-link">
            <small>I am</small>
            <strong>Designer</strong>
        </a>

    </article>

</div>
