<div class="menu">
    <a class="toggle-link" href="#" onclick="return toggleMenu()"></a>
    <div class="social-block">
        <a class="like" href="#" onclick="return toggleSocialBlock()">Love us</a>
        <ul class="social-links">
            <li class="googleplus"><a href="#">Google+</a></li>
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="pinterest"><a href="#">Pinterest</a></li>
            <li class="linkedin"><a href="#">LinkedIn</a></li>
        </ul>
    </div>
    <a class="lang-link" href="#">中文</a>
    <nav class="menu-content">
        <ul class="pages">
            <li class="pages-item"><a href="{{ site.baseurl }}/news/">News</a></li>
            <li class="pages-item"><a href="{{ site.baseurl }}/about/">About</a></li>
            <li class="pages-item"><a href="{{ site.baseurl }}/support/">Support</a></li>
        </ul>
        <div class="button-wrapper">
            {% include button.html url="#" text="Submit project" %}
        </div>
        <ul class="intended">
            <li class="intended-item"><a href="#"><small>I am</small> <strong>Project Owner</strong></a></li>
            <li class="intended-item"><a href="#"><small>I am</small> <strong>Designer</strong></a></li>
        </ul>
        <div class="link-wrapper">
            <a class="privacy-link" href="#">P&P</a>
            <a class="login-link" href="#" onclick="return showForm('login')">Login</a>
        </div>
    </nav>
</div>
