<div class="menu">
    <a class="toggle-link" href="#" onclick="
        document.body.classList.toggle('has-popup');
        this.parentNode.parentNode.parentNode.classList.toggle('expanded');
        return false;
    "></a>
    <div class="social-block">
        <a class="like" href="#" onclick="this.parentNode.classList.toggle('expanded'); return false;">Love us</a>
        <ul class="social-links">
            <li class="googleplus"><a href="#">Google+</a></li>
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="pinterest"><a href="#">Pinterest</a></li>
            <li class="linkedin"><a href="#">LinkedIn</a></li>
        </ul>
    </div>
    <a class="lang-link" href="#">中文</a>
    <nav class="menu-content">
        <ul class="pages">
            <li class="pages-item"><a href="#">News</a></li>
            <li class="pages-item"><a href="#">About</a></li>
            <li class="pages-item"><a href="#">Support</a></li>
        </ul>
        {% include button.html text="Submit project" subclass="submit-project-link" %}
        <ul class="intended">
            <li class="intended-item"><a href="#">I am <strong>Project Owner</strong></a></li>
            <li class="intended-item"><a href="#">I am <strong>Designer</strong></a></li>
        </ul>
        <a class="privacy-link" href="#">P&P</a>
        <a class="login-link" href="#">Login</a>
    </nav>
</div>
