@import '../_';

@page-intro-block__desktop__offset-left: 317px;
@page-intro-block__desktop__offset-top: 167px;

@page-intro-block__phone__offset-x: 19px;
@page-intro-block__phone__offset-top: 136px;
