---
title: Archiparti presents at RISE conference!
head_style1: >
    background-image: -webkit-linear-gradient(321deg, #0693fc, #d20276);
    background-image: -o-linear-gradient(321deg, #0693fc, #d20276);
    background-image: linear-gradient(129deg, #0693fc, #d20276);
    color: #fff
head_style2: >
    background:
        -webkit-radial-gradient(100% 50% circle, #000 16%, transparent 17%),
        -webkit-radial-gradient(0% 50% circle, #000 16%, transparent 17%),
        -webkit-radial-gradient(100% 50% circle, #000 16%, transparent 17%) 6px 10px,
        -webkit-radial-gradient(0% 50% circle, #000 16%, transparent 17%) 6px 10px;
    background:
        -o-radial-gradient(100% 50% circle, #000 16%, transparent 17%),
        -o-radial-gradient(0% 50% circle, #000 16%, transparent 17%),
        -o-radial-gradient(100% 50% circle, #000 16%, transparent 17%) 6px 10px,
        -o-radial-gradient(0% 50% circle, #000 16%, transparent 17%) 6px 10px;
    background:
        radial-gradient(circle at 100% 50%, #000 16%, transparent 17%),
        radial-gradient(circle at 0% 50%, #000 16%, transparent 17%),
        radial-gradient(circle at 100% 50%, #000 16%, transparent 17%) 6px 10px,
        radial-gradient(circle at 0% 50%, #000 16%, transparent 17%) 6px 10px;
    background-size: 12px 20px;
---

{% include context-subtitle.html text="Here is h2 title some nice subtitle about the action" %}

{% capture text %}
    To put this idea into action, we provide a cloud-based software solution and standardized construction management
    to streamline inefficiencies and disorganization inherent in the current construction industry, hence empower
    creativity. We offer perspective and advice of a dependable team, elevate every design projects and bring them
    to life. The advantage translated to the project owners will be a more custom home at trace of the market price,
    with months of time saved, and a transparent process.
{% endcapture %}{% assign text=text | replace:'   ','' %}
{% include text-block.html text=text %}

{% include video-embed-block.html src_base="http://techslides.com/demos/sample-videos/small" %}

{% include emphasized-text.html quote=true text="
    Connect Project Owners with passionate Independent Designers, and streamline the non-creative part
    through our intelligent platform.
    " %}

{% capture text %}
    To put this idea into action, we provide a cloud-based software solution and standardized construction management
    to streamline inefficiencies and disorganization inherent in the current construction industry, hence empower
    creativity. We offer perspective and advice of a dependable team, elevate every design projects and bring them
    to life. The advantage translated to the project owners will be a more custom home at trace of the market price,
    with months of time saved, and a transparent process.
{% endcapture %}{% assign text=text | replace:'   ','' %}
{% include text-block.html text=text %}

{% include gallery.html set="beta" loose=true %}

{% capture text1 %}
    To put this idea into action, we provide a cloud-based software solution and standardized construction management
    to streamline inefficiencies and disorganization inherent in the current construction industry, hence empower
    creativity. We offer perspective and advice of a dependable team, elevate every design projects and bring them
    to life. The advantage translated to the project owners will be a more custom home at trace of the market price,
    with months of time saved, and a transparent process.
{% endcapture %}{% assign text=text | replace:'   ','' %}
{% capture text2 %}
    To put this idea into action, we provide a cloud-based software solution and standardized construction management
    to streamline inefficiencies and disorganization inherent in the current construction industry, hence empower
    creativity. We offer perspective and advice of a dependable team, elevate every design projects and bring them
    to life. The advantage translated to the project owners will be a more custom home at trace of the market price,
    with months of time saved, and a transparent process.
{% endcapture %}{% assign text2=text2 | replace:'   ','' %}
{% include text-columns.html text1=text1 text2=text2 %}

{% include gallery.html set="gamma" %}
