@import '../_';

@auth-block__height: 40px;
@auth-block__text-offset-top: 9px;
@auth-block__item-rounding: floor(@auth-block__height / 2);
@auth-block__font-size: 12px;
@auth-block__line-height: 17px;
