@import '__';

.auth-block {
    .fixed();
    font-size: 0;
    z-index: @_z__auth-block;
    text-align: right;

    .button {
        vertical-align: top;

        &:not(.large) {
            padding-left: 0;
            padding-right: 0;
        }

        .login-link {
            border-color: transparent;
            background-color: transparent;
            color: @_c__black;
        }
    }


    @media @_l__desktop__media {
        top: @auth-block__desktop__offset-top;
        right: @auth-block__desktop__offset-right;

        .join-link {
            width: 80px;
        }
    }

    @media @_l__desktop1__media {

        .join-link {
            margin-left: 20px;
        }
    }

    @media @_l__desktop2__media {

        .join-link {
            margin-left: 30px;
        }
    }


    @media @_l__phone__media {
        top: @auth-block__phone__offset-top;

        .join-link {
            width: 60px;
        }

        .login-link {
            display: none;
        }
    }

    @media @_l__phone2__media {
        right: @auth-block__phone2__offset-right;
    }

    @media @_l__phone1__media {
        right: @auth-block__phone1__offset-right;
    }


    body.has-form & {
        display: none;
    }
}
