@import '__';
@import '../context-subtitle/__';
@import '../text-block/__';

.support-block {
    border-top: @support-block__item-stroke;

    .item {
        padding-top: @support-block__item-pad-y;
        padding-bottom: @support-block__item-pad-y;
        border-bottom: @support-block__item-stroke;

        .question {
            .context-subtitle__text-style();
            cursor: pointer;
        }

        .answer {
            margin-top: @context-subtitle__offset-bottom; // offset must only appear when answer is shown
            .text-block__text-style();
            .text-block__child-styles();
        }

        &:not(.expanded) {

            .answer {
                display: none;
            }
        }
    }

    @media @_l__desktop__media {
        @block-offset-x: @_l__desktop__content-offset-x;


        & {
            margin-left: -@block-offset-x;
            margin-right: -@block-offset-x;
        }

        .item {
            padding-left: @block-offset-x;

            .question,
            .answer {
                margin-left: @support-block__desktop__offset-left;
            }

            .question {
                width: 450px;
            }

            .answer {
                width: 480px;
                padding-bottom: 21px;
            }
        }
    }

    @media @_l__phone__media {
        @item-pad-x: @_l__phone__content-offset-x;

        .item {
            margin-left: -@_l__phone__content-offset-x;
            margin-right: -@_l__phone__content-offset-x;
            padding-left: @item-pad-x;
            padding-right: @item-pad-x;

            .answer {
                padding-bottom: 60px;
            }
        }
    }
}
