@import '../_';

@button_default__bg-color: @_c__red2;
@button_dark__bg-color: #e2001c;
@button__stroke-color: #d0021b;
@button__text-color: @_c__white;

@button_default__height: 40px;
@button_default__rounding: round(@button_default__height / 2);
@button_default__pad-x: 29px;
@button_default__pad-top: floor((@button_default__height - @button_default__line-height) / 2);
@button_default__pad-bottom: ceil((@button_default__height - @button_default__line-height) / 2);
@button_default__font-size: 12px;
@button_default__line-height: 17px;

@button_large__height: 60px;
@button_large__rounding: round(@button_large__height / 2);
@button_large__pad-x: 29px;
@button_large__pad-top: floor((@button_large__height - @button_large__line-height) / 2);
@button_large__pad-bottom: ceil((@button_large__height - @button_large__line-height) / 2);
@button_large__font-size: 14px;
@button_large__line-height: 26px;


.button__size(@size) {
    @_height: ~'button_@{size}__height';
    @_pad-x: ~'button_@{size}__pad-x';
    @_font-size: ~'button_@{size}__font-size';
    @_line-height: ~'button_@{size}__line-height';

    & {
        padding-left: @@_pad-x;
        padding-right: @@_pad-x;
        .hdiff-floor(padding-top, @@_height, @@_line-height);
        .hdiff-ceil(padding-bottom, @@_height, @@_line-height);
        border-radius: round(@@_height / 2);
        font-size: @@_font-size;
        line-height: @@_line-height;
    }
}
