@import '__';

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: @button__pad-top @button__pad-x @button__pad-bottom;
    border: 2px solid @_c__gray-light;
    border-radius: @button__rounding;
    background-color: @_c__red1;
    color: @_c__gray-light;
    font-size: @button__font-size;
    line-height: @button__line-height;
}
